.header {
    height: 120px;
    background-image: linear-gradient(0, #f5402d, #fe6232);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}


.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover { 
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item {
    font-weight: 400;
}

.header__navbar-item--separator {
    border-right: solid 1px #e3dede;
    height: 1.4rem;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}


.header__navbar-icon {
    font-size: 1.6rem;
    margin: 0 4px;

}

.header__navbar-item-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* HEADER QR CODE */
.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}

.header__qr::before {
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -16px;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__app-download-link:nth-child(1) {
    margin-left: 11px;
}
.header__app-download-link:nth-child(2) {
    margin-right: 11px;
}

.header__app-download {
    display: flex;
    justify-content: space-between;

}

.header__app-download-img {
    height: 15px;
}